.mapboxgl-map {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;  
}
.parking-details-container {
  position: absolute;
  top:10px;
  left:10px;
  z-index:10;
  background-color: #FFF;
  width:200px;
  height:200px;
  padding:1rem;
  border-radius: 15px;
}